<div class="page-header">
	<h4>Posts
		<%= link_to 'New Post', new_post_path,:class=>'pull-right btn btn-primary btn-sm' %>		
	</h4>

</div>
<div class="col-lg-12 col-md-12 list-group">
<% if !@posts.empty? %>
<% @posts.each do |post| %>
	<%= render :partial=>'post',:object=>post %>
<% end %>
<% else %>
	<p>No posts yet</p>
<% end %>
</div>