.margin-top-sm{
	margin-top: 10px;
}

.margin-left-sm{
	margin-left: 10px;
}

.margin-top-md{
	margin-top: 15px;
}
.margin-right-sm{
	margin-right: 5px;
}

.margin-bottom-sm{
	margin-bottom: 5px;
}
.paddingReset{
	padding:0;
}
.paddingSmall{
	padding-left: 2px;
	padding-right: 2px;
}