<div class="page-header">
	<h4><%= @category.name %>
		<%= link_to 'New Post', new_post_path,:class=>'pull-right btn btn-primary btn-sm' %>		
	</h4>

</div>
<div class="col-lg-12 col-md-12 list-group">
<% @posts.each do |post| %>
<%= render :partial=>'posts/post',:object=>post %>
<% end %>

</div>